.aws-btn--grey .aws-btn__wrapper:before {
    background: var(--button-grey-color-dark);
}

.aws-btn--grey .aws-btn__content {
    background: var(--button-grey-color);
    color: var(--button-grey-color-light);
    border: var(--button-grey-border);
}

.aws-btn--grey .aws-btn__content path {
    fill: var(--button-grey-color-light);
}

.aws-btn--grey .aws-btn__wrapper:hover .aws-btn__content {
    background: var(--button-grey-color-hover);
}

.aws-btn--grey.aws-btn--active .aws-btn__wrapper .aws-btn__content {
    background: var(--button-grey-color-active);
}