  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
  }

  
  
  .content {
    text-align: center;
    margin-bottom: 10px;
    color: black;
    
  }
  
  .avatar-container {
    margin-bottom: 10px;
    flex-direction: column;

  }
  
  .avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    margin-left: 100px;
    color: gray ;
    background-color: salmon;
    
  }
  
  
  .Data-table {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(245, 245, 245, 0.159); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(107, 0, 0, 0.1);
    max-width: 375px; 
    width: 100%; 
    margin: 0 auto; 
    max-height: 250px; 
    overflow-y: auto; 
  }
