.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    min-height: 50vh;
    padding: 20px;
  }
  
  .content {
    text-align: center;
    margin-bottom: 30px;
    
  }
  
  .avatar-container {
    margin-bottom: 30px;
    flex-direction: column;

  }
  
  .avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    margin-left: 100px;
    color: gray ;
    background-color: salmon;
    
  }
  
  .button-container {
    margin-bottom: 20px;
  }
  